[SERVICE]
    Flush         1
    Log_Level     info
    Parsers_File  parsers.conf

[INPUT]
    Name              tail
    Tag               book.access
    Path              /var/log/containers/book-*_skills_book-*.log
    Parser            cri
    Refresh_Interval  1
    Mem_Buf_Limit     5MB
    Skip_Long_Lines   On

[FILTER]
    Name          parser
    Match         book.access
    Key_Name      log
    Parser        book_access
    Reserve_Data  On

[FILTER]
    Name          rewrite_tag
    Match         book.access
    Rule          $remote_addr ^10\.0\.10\. book.access.az_a false
    Rule          $remote_addr ^10\.0\.11\. book.access.az_b false
    Emitter_Name  book_access_reemit

[OUTPUT]
    Name               cloudwatch_logs
    Match              book.access.az_a
    region             ${region}
    log_group_name     /eks/book-svc/access
    log_stream_name    /book-svc/ap-northeast-2a
    auto_create_group  true

[OUTPUT]
    Name               cloudwatch_logs
    Match              book.access.az_b
    region             ${region}
    log_group_name     /eks/book-svc/access
    log_stream_name    /book-svc/ap-northeast-2b
    auto_create_group  true
